/* Colores */
header {
  background-color: #7fddff; }

.lista {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; }
  .lista__inicio {
    padding: 10px 0px 10px 8px; }
  .lista__encabezado a {
    color: black; }
  .lista__encabezado--objeto {
    text-decoration: none;
    padding: 0px 10px 0px 8px; }

footer {
  background-color: #7fddff; }

.footer__redessociales {
  text-align: center;
  padding: 5px;
  font-family: 'Shadows Into Light', cursive; }

.footer__redes {
  display: flex;
  flex-direction: column;
  align-items: center; }

.footer__redes--imagenes {
  width: 30px;
  margin: 15px; }

.footer__derechos {
  padding: 8px;
  text-align: center;
  margin-bottom: 0%; }

.border_padd, .galeria__imagenes--uno, .galeria__imagenes--dos, .galeria__imagenes--tres, .galeria__imagenes--cuatro {
  border-bottom: 1px solid black;
  padding: 10px; }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

main {
  background-color: #ebebeb; }

.historia__total {
  display: flex;
  flex-direction: column; }
  .historia__total--titulo {
    font-family: 'Joan', serif;
    text-align: center;
    padding: 10px;
    font-size: 40px;
    color: #686464; }
  .historia__total--desarrollo {
    color: #1798c7;
    padding: 16px;
    margin: 10px; }

.img-principal {
  height: 500px; }

/* secciones */
.secciones {
  margin: 10px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5px; }
  .secciones__titulo {
    font-family: 'Joan', serif;
    text-align: center;
    padding: 10px;
    color: #686464; }
  .secciones__imagen {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 3px; }
  .secciones__imagen--imagenes {
    width: 250px; }
    .secciones__imagen--imagenes:hover {
      flex: 1;
      width: 300px;
      height: 300px;
      transition: 0.5s; }

/* css imganes-videos got hp marvel coleccion */
.galeria__titulo {
  font-family: 'Joan', serif;
  text-align: center;
  padding: 10px;
  color: #686464; }

.galeria__subtitulo {
  font-family: 'Joan', serif;
  text-align: center;
  padding: 10px;
  color: #777676; }

.galeria__imagenes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }

.galeria__imagenes--got {
  width: 250px;
  height: 250px;
  padding: 10px;
  border-bottom: 1px solid black; }
  .galeria__imagenes--got:hover {
    flex: 1;
    width: 270px;
    height: 270px;
    transition: 0.5s; }

.galeria__cuadro {
  background-color: white;
  padding: 5px;
  margin: 10px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif; }

.videos__titulo {
  font-family: 'Joan', serif;
  text-align: center;
  padding: 10px;
  color: #686464; }

.videos__youtube {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center; }

.videos__youtube--margin {
  padding: 8px; }

/* css colecciones */
.colecciones__imagenes {
  display: grid;
  width: auto;
  height: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr; }

.colecciones__cuadro {
  background-color: white;
  padding: 5px;
  margin: 10px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif; }

.galeria__imagenes--uno {
  width: 95%;
  height: 95%; }

.galeria__imagenes--dos {
  width: 90%;
  height: 90%; }

.galeria__imagenes--tres {
  width: 90%;
  height: 90%; }

.galeria__imagenes--cuatro {
  width: 95%;
  height: 95%; }

.coleccion__uno {
  grid-column: 1/2;
  grid-row: 1/3; }

.coleccion__dos {
  grid-column: 2/3;
  grid-row: 1/2; }

.coleccion__tres {
  grid-column: 2/3;
  grid-row: 2/3; }

.coleccion__cuatro {
  grid-column: 3/4;
  grid-row: 1/3; }

/* formulario */
.formulario {
  text-align: center;
  padding: 20px;
  justify-content: center; }
  .formulario__titulo {
    padding: 10px;
    font-family: 'Joan', serif; }
  .formulario__total {
    width: 30%;
    margin: auto; }

.subscripcion {
  padding: 20px;
  text-align: center;
  justify-content: center;
  justify-items: center; }
  .subscripcion h3 {
    font-size: 45px; }
  .subscripcion__email {
    width: 30%; }
  .subscripcion__parrafo {
    font-size: 25px; }

@media (min-width: 320px) and (max-width: 575px) {
  .lista__encabezado {
    display: block; }
    .lista__encabezado--objeto {
      padding: 3px; }
  .img-principal {
    width: auto;
    height: 300px; }
  .secciones__imagen--imagenes {
    margin: 2px; }
  .colecciones__imagenes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }
  .coleccion__uno {
    width: 280px;
    height: 280px; }
  .coleccion__dos {
    width: 280px;
    height: 280px; }
  .coleccion__tres {
    width: 280px;
    height: 280px; }
  .coleccion__cuatro {
    width: 280px;
    height: 280px; }
  .galeria__fotos {
    width: 250px;
    height: 250px;
    padding: 10px;
    border-bottom: 1px solid black; }
  .formulario__total {
    width: 100%; }
  .subscripcion__email {
    width: 100%; } }

/* MEDIA QUERIE Tablet */
@media (min-width: 576px) and (max-width: 992px) {
  .secciones__imagen--imagenes {
    margin: 2px; }
  .colecciones__imagenes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }
  .galeria__fotos {
    width: 250px;
    height: 250px;
    padding: 10px;
    border-bottom: 1px solid black; }
  .coleccion__uno {
    width: 280px;
    height: 280px; }
  .coleccion__dos {
    width: 280px;
    height: 280px; }
  .coleccion__tres {
    width: 280px;
    height: 280px; }
  .coleccion__cuatro {
    width: 280px;
    height: 280px; }
  .formulario__total {
    width: 60%; }
  .subscripcion__email {
    width: 60%; } }
