@import "variables";
@import "header";
@import "footer";
@import "operators";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


main {
    background-color: rgb(235,235,235);

}

.historia {

    &__total {
        display: flex;
        flex-direction: column;

        &--titulo {
            font-family: 'Joan', serif;
            text-align: center;
            padding: 10px;
            font-size: 40px;
        }
        
        &--desarrollo {
            color: rgb(23, 152, 199);
            padding: 16px;
            margin: 10px;
        }
    
    }
}

.img-principal {
    height: 500px;
}

/* secciones */

.secciones {
    margin: 10px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px;

    &__titulo {
        font-family: 'Joan', serif;
        text-align: center;
        padding: 10px;
    }
    
    &__imagen {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-bottom: 3px;
    }
    
    &__imagen--imagenes {
        width: 250px;

        &:hover {
            flex: 1;
            width: 300px;
            height: 300px;
            transition: 0.5s;
        }
    }

}

/* css imganes-videos got hp marvel coleccion */

.galeria {
    &__titulo {
        font-family: 'Joan', serif;
        text-align: center;
        padding: 10px;
    }
    
    &__subtitulo {
        font-family: 'Joan', serif;
        text-align: center;
        padding: 10px;
    }
    
    &__imagenes {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    
    }
    
    &__imagenes--got {
        width: 250px;
        height: 250px;
        padding: 10px;
        border-bottom: 1px solid black;

        &:hover {
            flex: 1;
            width: 270px;
            height: 270px;
            transition: 0.5s;
        }
    }
    
    &__cuadro {
        background-color: rgb(255, 255, 255);
        padding: 5px;
        margin: 10px;
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;
    }
    


}

.videos {
    
    &__titulo {
        font-family: 'Joan', serif;
        text-align: center;
        padding: 10px;
    }
    
    &__youtube {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        justify-content: center;
    }

    &__youtube--margin {
        padding: 8px;
    }
}


/* css colecciones */

.colecciones {

    &__imagenes {
        display: grid;
        width: auto;
        height: auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr
    }

    &__cuadro {
        background-color: rgb(255, 255, 255);
        padding: 5px;
        margin: 10px;
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;
    }

}


.galeria__imagenes {

    &--uno {
        @extend .border_padd;
        width: 95%;
        height: 95%;

    }

    &--dos {
        width: 90%;
        height: 90%;
        @extend .border_padd;
    }

    &--tres {
        width: 90%;
        height: 90%;
        @extend .border_padd;
    }

    &--cuatro {
        width: 95%;
        height: 95%;
        @extend .border_padd;
    }
}

.coleccion {

    &__uno {
        grid-column: 1/2;
        grid-row: 1/3;
    }
    
    &__dos {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    
    &__tres {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    
    &__cuatro {
        grid-column: 3/4;
        grid-row: 1/3;
    }
}



/* formulario */

.formulario {
    text-align: center;
    padding: 20px;
    justify-content: center;

    &__titulo {
        padding: 10px;
        font-family: 'Joan', serif;
    }
    
    &__total {
        width: 30%;
        margin: auto;
    }
}



.subscripcion {
    padding: 20px;
    text-align: center;
    justify-content: center;
    justify-items: center;

    & h3 {
        font-size: 45px;
    }
    
    &__email {
        width: 30%;
    }
    
    &__parrafo {
        font-size: 25px;
    }
}

@import "mediaqueries.scss";

